<!-- LOG IN -->

  <h1>Make a Note App!</h1>

  <h2>Log in to CRUD a note</h2>


<!-- does nothing right now -->
<%= erb :_messages, layout: false %>
<!-- ########################################## -->

  <form action = '/login' method='POST'>   <!-- THIS action is controller POST '/login'-->
    <label>Username: <input type="text" name="username"></label>
    <label>Password: <input type="password" name="password"></label>
    <input type="submit" value="LOG IN">
  </form>


  <h2>New to the site? <a href='/new_user'> Create an account.</a></h2>
